.navbar {
    margin-bottom: 0px;
}
.jumbotron {
    background-color: transparent;
}
.parentContainer {
    width: 100%;
    padding: 80px 0 140px;
    overflow: hidden;
}
#footer {
    text-align: center;
    color: white;
    background-color: #a1a1a1;
}
#intro {
    /*margin-top: -50px;*/
    text-align: center;
    color: white;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url('../img/header.jpg');
}
.intro-section {
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    padding: 140px 0 140px;
    overflow: hidden;
}
#short-bio {
    color: white;
    background-color: darkslategrey;
}
#short-bio h4 {
    color: #969696;
}
/*.navbar { border: none; }*/
h4 {
    font-family:"museo-slab", sans-serif;
    text-transform: uppercase;
}
.body {
    font-family:"museo-slab", sans-serif;
    color: #969696;
}
.position {
    /*font-weight: 500;*/
    font-style: italic;
    font-family: Georgia, Times, "Times New Roman", serif;
}
.date {
    font-weight: 700;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 0.8em;
}
.location {
    font-weight: 500;
    font-family: Georgia, Times, "Times New Roman", serif;
}
.section-title {
    font-family: "museo-slab",serif;
    font-style: normal;
    font-weight: 700;
}
.btn-default {
    color: #8F8F8F;
    background-color: transparent;
    border-color: #888;
    font-family: "museo-slab",serif;
    font-style: normal;
    font-weight: 700;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #333;
    background-color: #EBEBEB;
    border-color: #FFF;
}