{% extends "base.html" %}{% block title %} - Resume{% endblock %}{% block content %}{% if not session.logged_in %}<!--<p>You are not logged in.</p>-->{% else %}<!--<p>You are logged in.</p>-->{% endif %}
<div id="intro">
    <div class="intro-section">
        <div class="jumbotron">
            <div class="container">
                <div class="mastbottom">
                    <h1 class="section-title">EDWARD FRANCIS KNOWLES<br/><i class="fa fa-angle-double-down"></i></h1>
                    <p class="position">Scroll down!<br/>
                        <!--(Yes it's one of those)-->
                </div>
                </p>
            </div>
        </div>
    </div>
</div>

<div id="short-bio" class="parentContainer darkblue">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2">
                <h4 class="section-title">Overview</h4>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-8">
                <h4>London based developer</h4>

                <p class="body">Over 3 years experience of creating complex ebooks and enhanced picture books for various publishing clients. Winner of the 2013 Publishing Innovation Award for Best Ebook at the Digital Book World Conference for Random House UK.</p>

                <p class="body"></p>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <p><a class="btn btn-default" href="#"><i class="fa fa-cloud-download"></i> Download PDF</a></p>

                <p><a class="btn btn-default" href="#"><i class="fa fa-print"></i> Print Resume</a></p>
            </div>
        </div>

    </div>
</div>

<div id="work" class="parentContainer">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2">
                <h4 class="section-title">Experience</h4>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-8">
                <h4>Digital Director (Founder)</h4>

                <p class="position">Stunjelly eBook Services</p>

                <p class="body">
                    Stunjelly is a Digital publishing consultancy that specializes in complex EPUB/MOBI, creation, corrections and conversions. </p>

            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <p class="date">Sept. 2010 ~ Present</p>

                <p class="location">London, UK</p>

                <p><a href="http://stunjelly.com" target="_blank" class="btn btn-default btn-sm">Visit Website</a></p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2">
                <h4 class="section-title"></h4>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-8">
                <h4>Freelance eBook Developer</h4>

                <p class="position">Random House Group</p>

                <p class="body">Developed solutions for hundreds of erroneous ePub files. Reported on conversion issues, consulted and wrote style guidelines to be used by all vendors.</p>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <p class="date">June 2010 ~ Sept. 2010</p>

                <p class="location">London, UK</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2">
                <h4 class="section-title"></h4>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-8">
                <h4>Architectural Visualization Artist</h4>

                <p class="position">CKD Ltd.</p>

                <p class="body">
                    Created photorealistic images and video walkthroughs of proposed buildings using CAD. Managed IT and render farm network, ordered PC components and built top of the line workstations. Setup OS X Servers, mail services, FTP/AFP servers and networking for office website and remote traffic. </p>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <p class="date">June 2010 ~ Sept. 2010</p>

                <p class="location">London, UK</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2">
                <h4 class="section-title">Awards</h4>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-8">
                <h4>Digital Book World Publishing Innovation Award</h4>

                <p class="position">Best Ebook in Children&rsquo;s Category</p>

                <p class="body">The Dinosaur That Pooped Christmas written by Tom Fletcher and Dougie Poynter from McFly and illustrated by Garry Parsons was published last October. It spent 3 weeks at No.1 on the TCM Children's Picture Book Chart and sold over 50,000 copies. The Bookseller called it 'A work of genius'.</p>

                <p class="body">This innovative enhanced eBook was created by the RHCP editorial and design teams working in conjunction with the RHG Digital team and digital content company, Stunjelly. The aim was to create a fun and engaging reading experience for young readers that brought the book to life. It contains a full reading of the book by Tom and Dougie along with sound effects and animation and has sold over 2000 copies.</p>

            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <p class="date">Jan. 2013</p>

                <p class="location">New York, NY</p>

                <p>
                    <a href="http://www.randomhouse.co.uk/news/2013/01/the-dinosaur-that-pooped-christmas-wins-publishing-innovation-award" target="_blank" class="btn btn-default btn-sm">View Article</a>
                </p>
            </div>
        </div>
    </div>
</div>


<div id="education" class="parentContainer darkblue">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2">
                <h4 class="section-title">Education</h4>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-8">
                <h4>BSc (Hons) Internet Computing</h4>

                <p class="position">Goldsmiths, University of London</p>

                <p class="body">Spent first year doing mostly Java and Flash</p>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <p class="date">2009 ~ 2010</p>

                <p class="location">London, UK</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2">
                <h4 class="section-title"></h4>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-8">
                <h4>GCE Advanced Level & General Certificate of Secondary Education</h4>

                <p class="position">Ardingly College</p>

                <p class="body">
                    A Levels - Business Studies, Physical Education, Design and Technology. GCSEs - Maths, English, Science, Spanish, History, Physical Education, Design and Technology. </p>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <p class="date">2002 ~ 2007</p>

                <p class="location">West Sussex, UK</p>
            </div>
        </div>
    </div>
</div>


<div id="skills" class="parentContainer no-top-margins">
<div class="container">
<div class="row top">
    <div class="col-md-2 col-sm-12 col-xs-12 desc-cell">
        <h4 class="">Programming</h4>
    </div>
    <div class="col-md-10 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-sm-6 col-xs-6">
                <div class="row">
                    <div class="col-sm-3 col-xs-12"><p class="body">HTML5</p></div>
                    <div class="col-sm-9 col-xs-12">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">9.5
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-6">
                <div class="row">
                    <div class="col-sm-3 col-xs-12"><p class="body">CSS3</p></div>
                    <div class="col-sm-9 col-xs-12">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">9.5
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-6">
                <div class="row">
                    <div class="col-sm-3 col-xs-12"><p class="body">Javascript</p></div>
                    <div class="col-sm-9 col-xs-12">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">8
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-6">
                <div class="row">
                    <div class="col-sm-3 col-xs-12"><p class="body">Python</p></div>
                    <div class="col-sm-9 col-xs-12">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">7
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-6">
                <div class="row">
                    <div class="col-sm-3 col-xs-12"><p class="body">PHP</p></div>
                    <div class="col-sm-9 col-xs-12">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">4
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-6">
                <div class="row">
                    <div class="col-sm-3 col-xs-12"><p class="body">Perl</p></div>
                    <div class="col-sm-9 col-xs-12">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">4
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-6">
                <div class="row">
                    <div class="col-sm-3 col-xs-12"><p class="body">AS2/3</p></div>
                    <div class="col-sm-9 col-xs-12">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">2
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-6">
                <div class="row">
                    <div class="col-sm-3 col-xs-12"><p class="body">ASP</p></div>
                    <div class="col-sm-9 col-xs-12">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">1
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row top">
    <div class="col-md-2 col-sm-12 col-xs-12 desc-cell">
        <h4 class="">Frameworks</h4>
    </div>
    <div class="col-md-10 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-sm-6 col-xs-6">
                <div class="row">
                    <div class="col-sm-3 col-xs-12"><p class="body">EPUB</p></div>
                    <div class="col-sm-9 col-xs-12">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">9.5
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xs-6">
                <div class="row">
                    <div class="col-sm-3 col-xs-12"><p class="body">jQuery</p></div>
                    <div class="col-sm-9 col-xs-12">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">8
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-6">
                <div class="row">
                    <div class="col-sm-3 col-xs-12"><p class="body">Bootstrap</p></div>
                    <div class="col-sm-9 col-xs-12">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">7
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-6">
                <div class="row">
                    <div class="col-sm-3 col-xs-12"><p class="body">Wordpress</p></div>
                    <div class="col-sm-9 col-xs-12">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">6
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-6">
                <div class="row">
                    <div class="col-sm-3 col-xs-12"><p class="body">Qt</p></div>
                    <div class="col-sm-9 col-xs-12">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">5
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-6">
                <div class="row">
                    <div class="col-sm-3 col-xs-12"><p class="body">Node.js</p></div>
                    <div class="col-sm-9 col-xs-12">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">3
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row top">
    <div class="col-md-2 col-sm-12 col-xs-12 desc-cell"><h4 class="">Programs</h4></div>
    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-md-12">
                <p class="body">PyCharm, WebStorm, Sublime Text, Photoshop, Dreamweaver, InDesign, Illustrator, Fireworks, GIMP, EpubCheck, Sigil, Microsoft-Libre-Open Office, MySQL Workbench, Git, ImageMagick.</p>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-12 col-xs-12 desc-cell"><h4 class="">Other</h4></div>
    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-md-12">
                <p class="body">Chrome, XMPP, OpenID, IRC, Qt4, Jade, MySQL, SQLite, Redis, SocketIO, Heroku, GIMP, OpenGL, Restful API's (inc. Facebook/Twitter), Google API's (Maps, Analytics, Calendar).</p>
            </div>
        </div>
    </div>
</div>
</div>
</div>


<div id="software" class="parentContainer darkblue">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-2 col-md-2">
                <h4 class="section-title">Software</h4>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8">
                <h4>Lounge Companion Chrome Extension <small>Javascript, jQuery, CSS3, Chrome API's</small></h4>

                <p class="body">A hugely popular extension for Chrome that grows over 1000 new users a day, built to provide better UX and enhanced functionality. With the majority of it's referrals coming from social media, the app required little in the way of marketing during launch.</p>
                <p class="body">- Trended twice within 30 days being the most popular and most rated extension on the Chrome Web Store</p>
                <!--<p class="body">Built with Python and Qt.</p>-->
            </div>

            <div class="col-xs-12 col-sm-2 col-md-2">
                <p class="date">Installations</p>
                <h4>18,000+</h4>
            </div>

            <div class="col-xs-12 col-sm-2 col-md-2">
                <p class="date">Audience</p>
                <h4>1.7m+</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-2 col-md-2">
                <h4 class="section-title"></h4>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8">
                <h4>Steam Tools <small>Python, Qt</small></h4>

                <p class="body">Used to automate live scores and statistics for video game broadcasters, Steam Tools included a config editor, replay library, match downloads, and broadcasting tools that allowed casters to enter team names, flags and other information to be displayed via live graphics to viewers online.</p>

                <p class="body">Within the first two weeks the program had been installed by over 4000 users and after the release of version 2, matches streamed of the internet via twitch.tv and youtube had over 1 million combined viewers.</p>
                <!--<p class="body">Built with Python and Qt.</p>-->
            </div>

            <div class="col-xs-12 col-sm-2 col-md-2">
                <p class="date">Downloads</p>
                <h4>10,000+</h4>
            </div>

            <div class="col-xs-12 col-sm-2 col-md-2">
                <p class="date">Audience</p>
                <h4>1.2m+</h4>

            </div>
        </div>
                <div class="row">
            <div class="col-xs-12 col-sm-2 col-md-2">
                <h4 class="section-title"></h4>
            </div>

            <div class="col-xs-12 col-sm-7 col-md-8">
                <h4>Stunjelly EPUB3 Builder</h4>

                <p class="body">An internal program used to convert PDF&rsquo;s to HTML5/EPUB3 for iPad, Kindle, Sony Reader and Kobo</p>
            </div>

            <div class="col-xs-12 col-sm-3 col-md-2">
                <p class="date">Total Conversions</p>
                <h4>100+</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-2 col-md-2">
                <h4 class="section-title"></h4>
            </div>

            <div class="col-xs-12 col-sm-8 col-md-8">
                <h4>I Shall Share Midnight <small>Flash, PHP, Facebook/Twitter API</small></h4>

                <p class="body">A Social marketing application for Facebook where users could add their profile images to a special edition with a promotional cover for a newly released I Shall Wear Midnight by Terry Pratchett.</p>
                <!--<p class="body">Built with Flash (AS3), PHP (GD), MySQL, HTML, CSS and Facebook API.</p>-->
            </div>

            <div class="col-xs-12 col-sm-2 col-md-2">
                <p class="date">Users</p>
                <h4>8000+</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-2 col-md-2">
                <h4 class="section-title"></h4>
            </div>

            <div class="col-xs-12 col-sm-8 col-md-8">
                <h4>eCommerce Image Processor (ecip) <small>Python, Qt, ImageMagick</small></h4>

                <p class="body">Developed for an online fashion retailer to automate their image conversions</p>
            </div>
        </div>
    </div>
</div>
<div id="recommendations" class="parentContainer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2">
                <h4 class="section-title">Mentions</h4>
            </div>

            <div class="col-xs-3 col-sm-2 col-md-1">
                <h4 class="section-title">
                    <img src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/1/000/0e8/13e/2a0c53d.jpg" alt="" class="img-responsive img-circle"/>
                </h4>
            </div>
            <div class="col-xs-9 col-sm-4 col-md-4">
                <h4>Ross Thompson</h4>

                <p class="position">iOS & Web Software Architect / Strategist</p>

                <p class="body">&ldquo;Edward is a pleasure to work with. With acute attention to detail and the ability to rapidly grasp the task at hand, he has proven himself time and time again. His continuity and willingness to deliver above and beyond the call of duty quickly paved the way for his becoming a key member on the project management board. When it comes to digital, I would thoroughly recommend Edward, and look forward to any future opportunity to work along side him once again.&rdquo;</p>
            </div>

            <div class="col-xs-3 col-sm-2 col-md-1">
                <h4 class="section-title">
                    <img src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/2/000/025/249/1fb1eb4.jpg" alt="" class="img-responsive img-circle"/>
                </h4>
            </div>
            <div class="col-xs-9 col-sm-4 col-md-4">
                <h4>Dan Franklin</h4>

                <p class="position">Digital Publisher at Penguin Random House UK</p>

                <p class="body">&ldquo;Edward and the team at Stunjelly specialise in delivering high quality work in time, and he is a pleasure to work with.&rdquo;</p>
            </div>

        </div>
    </div>
</div>


<div id="events" class="parentContainer darkblue">
    <div class="container">
        {% for key, event in events.iteritems() %} {% if loop.index0 %2==0 %}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2">
                <h4 class="section-title">{% if loop.first %}Attending{% endif %}</h4>
            </div>
            {% endif %}
            <div class="col-xs-12 col-sm-6 col-md-5">
                <h4>{{ event.name }} <i class="fa fa-external-link fa-fw"></i></h4>

                <p class="position">{{ event.clean_dates }}</p>

                <p class="body">{{ event.location }}</p>
            </div>
            {% if loop.index %2==0 %}
        </div>
        {% endif %} {% endfor %}
    </div>
</div>

{% endblock %}
