{% extends "base.html" %}
{% block title %} - CV{% endblock %}
{% block content %}
{% if not session.logged_in %}
<!--<p>You are not logged in.</p>-->
{% else %}
<!--<p>You are logged in.</p>-->
{% endif %}
<div id="intro">
    <div class="intro-section">
        <div class="jumbotron">
            <div class="container">
                <h1 class="section-title">EDWARD KNOWLES</h1>
                <p class="position">My milkshake brings all the boys to the yard. Damn rite, it's better than yours</p>
            </div>
        </div>
    </div>
</div>

<div id="short-bio" class="parentContainer">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2">
                <h4 class="section-title">About Me</h4>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-8">
                <p class="body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, distinctio dolorum est eum illo impedit incidunt itaque iure minima necessitatibus officia pariatur quae totam veritatis voluptatibus! Debitis in necessitatibus praesentium.</p>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
              <p><a class="btn btn-default" href="#">Download PDF</a></p>
              <p><a class="btn btn-default" href="#">Print Resume</a></p>
            </div>
        </div>

    </div>
</div>

<div id="work" class="parentContainer">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2">
                <h4 class="section-title">Experience</h4>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-8">
                <h4>Co-founder & Director</h4>
                <p class="position">Stunjelly Digital eBook Publishing Services</p>
                <p class="body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, distinctio dolorum est eum illo impedit incidunt itaque iure minima necessitatibus officia pariatur quae totam veritatis voluptatibus! Debitis in necessitatibus praesentium.</p>

            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <p class="date">Sept. 2010 ~ Present</p>
                <p class="location">London, UK</p>
                <p><a href="http://stunjelly.com" target="_blank" class="btn btn-default btn-sm">Visit Website</a></p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2">
                <h4 class="section-title"></h4>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-8">
                <h4>Freelance eBook Developer</h4>
                <p class="position">Random House Group</p>
                <p class="body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, distinctio dolorum est eum illo impedit incidunt itaque iure minima necessitatibus officia pariatur quae totam veritatis voluptatibus! Debitis in necessitatibus praesentium.</p>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <p class="date">June 2010 ~ Sept. 2010</p>
                <p class="location">London, UK</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2">
                <h4 class="section-title"></h4>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-8">
                <h4>Architectural Visualization Artist</h4>
                <p class="position">CKD Ltd.</p>
                <p class="body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, distinctio dolorum est eum illo impedit incidunt itaque iure minima necessitatibus officia pariatur quae totam veritatis voluptatibus! Debitis in necessitatibus praesentium.</p>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <p class="date">June 2010 ~ Sept. 2010</p>
                <p class="location">London, UK</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2">
                <h4 class="section-title">Awards</h4>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-8">
                <h4>Digital Book World Publishing Innovation Award</h4>
                <p class="position">Best Ebook in Children&rsquo;s Category</p>
                <p class="body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, distinctio dolorum est eum illo impedit incidunt itaque iure minima necessitatibus officia pariatur quae totam veritatis voluptatibus! Debitis in necessitatibus praesentium.</p>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <p class="date">Jan. 2013</p>
                <p class="location">New York, NY</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2">
                <h4 class="section-title">Education</h4>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-8">
                <h4>BSc (Hons) Internet Computing</h4>
                <p class="position">Goldsmiths, University of London</p>
                <p class="body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, distinctio dolorum est eum illo impedit incidunt itaque iure minima necessitatibus officia pariatur quae totam veritatis voluptatibus! Debitis in necessitatibus praesentium.</p>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <p class="date">Sept. 2009 ~ June 2010</p>
                <p class="location">London, UK</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2">
                <h4 class="section-title"></h4>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-8">
                <h4>GCE Advanced Level & General Certificate of Secondary Education</h4>
                <p class="position">Ardingly College</p>
                <p class="body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, distinctio dolorum est eum illo impedit incidunt itaque iure minima necessitatibus officia pariatur quae totam veritatis voluptatibus! Debitis in necessitatibus praesentium.</p>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <p class="date">Sept. 2002 ~ June 2007</p>
                <p class="location">West Sussex, UK</p>
            </div>
        </div>

    </div>
</div>
{% endblock %}
